.error textarea {
    border: 2px solid red;
}

.error input {
    border: 2px solid red;
}

.error span {
    color: red;
}


.myPostTextarea {
    width: 812px;
    height: 33px;

    padding-left: 37px;
    margin-top: 15px;
    padding-top: 15px;

    background: #FFFFFF;
    border: 0.5px solid rgba(5, 148, 143, 0.8);
    border-radius: 20px;
}

.loginInput {
    margin-top: 16px;
    width: 347px;
    height: 36px;
    background: #FFFFFF;
    border: 0.5px solid rgba(5, 148, 143, 0.8);
    box-sizing: border-box;
    border-radius: 20px;
}

.checkboxItem {
  border: red;
}

