.loginItems {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetworkProject {
    width: 576px;
    height: 122px;
    left: 223px;
    top: 472px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;

    color: #000000;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

.loginButton {
    width: 102px;
    height: 36px;


    /* Green/50 */
    background: rgba(5, 148, 143, 0.8);
    border-radius: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}

.checkboxItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 347px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
    /*position: absolute;*/
    /*top: 75%;*/
    /*left: 0%;*/

}