.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;


}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
   color:gold;

}
.dialog {
    color: rgba(5,148,143,.8);
}
.dialog a{
    color: rgba(5,148,143,.8);
}
.messages {
    padding: 10px;
    width: 300px;

}
.message {
    color: white;
}

a {
 color: white;
}

